# Project exclude paths
/.gradle/
/Simple Search Engine/task/build/
/Simple Search Engine/task/out/
/Simple Search Engine/task/out/production/classes/
/Simple Search Engine/task/out/test/classes/
/Topics/The Set interface/Spell checker/out/
/Topics/The Set interface/Spell checker/out/production/classes/
/Topics/The Set interface/Strict superset/out/
/Topics/The Set interface/Strict superset/out/production/classes/
/Topics/The Set interface/Symmetric difference/out/
/Topics/The Set interface/Symmetric difference/out/production/classes/
/Topics/The Set interface/Theory/out/
/Topics/The Set interface/Theory/out/production/classes/